@model Vehiculo
@{
    ViewData["Title"] = "Agregar Vehiculo";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
}

<h1>Agregar un Vehiculo</h1>

<div class="card">
    <h5 class="card-header">Ingrese los Datos:</h5>
    <div class="card-body">

        <form asp-action="Crear_Vehiculo" asp-controller="Empresa" method="post">

            <div class="mb-3 row">
                <label for="staticIdVehiculo" class="col-sm-2 col-form-label"><strong>Placa: </strong></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  id="staticIdVehiculo" asp-for="Placa" >
                </div>
            </div>

            <div class="mb-3 row">
                <label for="staticSOAT" class="col-sm-2 col-form-label"><strong>SOAT: </strong></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="staticSOAT" asp-for="Soat" placeholder="Inserte SOAT">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="staticTecnicoMecanica" class="col-sm-2 col-form-label"><strong>Tecnico Mecanica: </strong></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="staticTecnicoMecanica" asp-for="TecnicoMecanica" placeholder="Inserte Tecnico Mecánica">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="staticIdPropietario" class="col-sm-2 col-form-label"><strong>Id Propietario: </strong></label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="staticIdPropietario" asp-for="IdPropietario" placeholder="ID del Propietario">
                </div>
            </div>

            <p>@ViewBag.Mensaje</p>
            <button type="submit" class="btn btn-success">Crear</button>
            <br />
        </form>
        <a href="javascript:history.back()" class="btn btn-primary">Volver</a>
        
        

    </div>
</div>

