@model Consulta
@{
    ViewData["Title"] = "Consultar Taxi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Datos de los vehiculos autorizados</h1>

<div class="card">
    <div class="card-header">
        Ingresa los Datos
    </div>
    <div class="card-body">
        <form asp-action="Consultar" asp-controller="Inicio" method="post">
           <h3>Digite alguno de los dos datos:</h3> 
            <div class="mb-2">
                <label class="form-label">Numero de Documento:</label>
                <input type="text" placeholder="1234567890" class="form-control form-control-sm" asp-for="Documento" />
                             
            </div>
            <hr />
            <div class="mb-2">
                <label class="form-label">Placa del Vehículo:</label>
                <input type="text" placeholder="AAA123" class="form-control form-control-sm" asp-for="Placa" />

            </div>
            <div> @ViewBag.Mensaje</div>
            <button type="submit" class="btn btn-success btn-sm">Consultar</button>

        </form>
    </div>
</div>



