@model Login
@{
    ViewData["Title"] = "Inicio Sesion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Iniciar Sesión</h1>

<form asp-action="Autenticar" asp-controller="Inicio" method="post">
    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">

        <label class="form-label">Correo Electronico:</label>
        <input type="text" placeholder="ejemplo@gmail.com" class="form-control form-control-sm" asp-for="Correo" />
        
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
        
        <label class="form-label">Contraseña:</label>
        <input type="password" placeholder="contraseña123" class="form-control form-control-sm" asp-for="Contrasena" />
        
    </div>

    <!-- Submit button -->
    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Iniciar Sesion</button>

</form>

<p>@ViewBag.Mensaje</p>



