@model Login
@{
    ViewData["Title"] = "Inicio Sesion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow" style="width: 350px;">
        <h2 class="text-center mb-4">Iniciar Sesión</h2>
        <form asp-action="Autenticar" asp-controller="Inicio" method="post">
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-3">
                <label class="form-label">Correo Electrónico:</label>
                <input type="text" placeholder="ejemplo@gmail.com" class="form-control" asp-for="Correo" />
            </div>

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-3">
                <label class="form-label">Contraseña:</label>
                <input type="password" placeholder="contraseña123" class="form-control" asp-for="Contrasena" />
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
        </form>

        <p class="text-center text-danger mt-3">@ViewBag.Mensaje</p>
    </div>
</div>


<p>@ViewBag.Mensaje</p>



